$inner-color: #001833;
// $outer-color: #001f42;
$outer-color: #222d38;

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: $outer-color;
    display: grid;
    justify-content: center;
    color: #dfdddd;
}

%container {
    border-radius: 10px;
    box-shadow: 0 2px 0 hsla(0, 0%, 100%, .15), inset 0 2px 2px hsla(0, 0%, 0%, 0.2);
    background: $inner-color;
}

.player {
    padding: 20px;
    @extend %container;
}

.gameboard-container {
    margin: 50px;
    max-width: 475px;
    overflow: hidden;
    @extend %container;

    .boards-panel {
        // border: 1px solid red;
        display: flex;
        position: relative;
        left: 0;
        transition: left 0.5s ease;
        margin: 45px;
    }

    .toggle-panel {
        left: -430px;
    }
}

.board {
    display: grid;
    grid-template-columns: repeat(11, 1fr);

    .square {
        width: 35px;
        height: 35px;
        border: 1px solid #ffffff49;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:first-of-type {
            border-top: none;
            background: #001833;
        }

        &:hover {
            background: rgba(255, 255, 255, 0.178);
        }
    }

    .square-axis {
        pointer-events: none;
        background: #082547;
    }

    &:first-of-type {
        margin-right: 45px;
    }
}

.control-container {
    @extend %container;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
        color: #dfdddd;
        border-radius: 50%;
        padding: 10px;
        background: $outer-color;
        border: none;
        box-shadow: 0 -2px 0 hsla(0, 0%, 100%, .15), 0 1px 3px hsla(0, 0%, 0%, .3);
        cursor: pointer;

        svg {
            width: 25px;
            height: 25px;
        }

        & * {
            pointer-events: none;
        }
    }

    #music-icon-off { display: none; }
    #sound-icon-off { display: none; }

    .led {
        width: 10px;
        height: 10px;
        background: #333;
        border-radius: 50%;
    }

    .led-green {
        background: #0f0;
        box-shadow: 0 0 20px 5px #0f0;
    }

    .led-red {
        background: #f00;
        box-shadow: 0 0 20px 5px #f00;
    }
}

#destroyer {
    position: absolute;
    top: 77px;
    left: 36px;
    // transform: rotate(90deg);
}

#cruiser {
    position: absolute;
    left: 70px;
    top: 177px;
}

#fire {
    position: absolute;
    width: 72px;
    height: auto;
    left: 84px;
    top: 55px;
}
