$inner-color: #001833;
// $outer-color: #001f42;
$outer-color: #222d38;

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: $outer-color;
    color: #dfdddd;
}

@keyframes ship-motion {
    0% { transform: translate(0,0);}
    33% { transform: translateY(20px); }
    67% { transform: translateY(-20px); }
    100% { transform: translate(0,0);}
}

main {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    column-gap: 3.5rem;
    row-gap: 3rem;
    margin: 3rem auto 0 auto;
    width: fit-content;
    // animation: ship-motion 1.5s linear infinite;
}

%container {
    border-radius: 10px;
    box-shadow: 0 2px 0 hsla(0, 0%, 100%, .15), inset 0 2px 2px hsla(0, 0%, 0%, 0.2);
    background: $inner-color;
}

.player {
    padding: 2rem;
    @extend %container;
    width: 15rem;
    height: 5rem;
    justify-self: flex-end;
    text-align: center;
}

.gameboard-container {
    max-width: 475px;
    overflow: hidden;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    position: relative;
    @extend %container;

    .boards-panel {
        display: flex;
        position: relative;
        left: 0;
        transition: left 0.5s ease;
        margin: 45px;

        &.inactive {
            pointer-events: none;
        }
    }

    .toggle-panel {
        left: -430px;
    }

    .attack-highlight {
        background: rgba(255, 255, 255, 0.3);
        position: absolute;
        transition: transform 0.5s ease-out;
        opacity: 0;

        &.vertical {
            top: 0;
            left: -32px;
            width: 32px;
            height: 100%;
        }

        &.horizontal {
            top: -32px;
            left: 0;
            width: 100%;
            height: 32px;
        }

        &.show {
            opacity: 1;
        }
    }
}

.board {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    position: relative;

    .square {
        width: 35px;
        height: 35px;
        border: 1px solid #ffffff49;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:first-of-type {
            border-top: none;
            background: #001833;
        }

        &[data-coord] {
            font-size: 1.2rem;
            font-weight: bold;
            color: #c8dfe9cc;
        }

        &:hover {
            background: rgba(255, 255, 255, 0.178);
        }
    }

    .square-axis {
        pointer-events: none;
        background: #082547;
    }

    &:first-of-type {
        margin-right: 45px;
    }
}

.control-container {
    @extend %container;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 5rem;
    gap: 2rem;
    justify-self: start;

    button {
        color: #dfdddd;
        border-radius: 50%;
        padding: 10px;
        background: $outer-color;
        border: none;
        box-shadow: 0 -2px 0 hsla(0, 0%, 100%, .15), 0 1px 3px hsla(0, 0%, 0%, .3);
        cursor: pointer;

        svg {
            width: 25px;
            height: 25px;
        }

        & * {
            pointer-events: none;
        }
    }

    #music-icon-off { display: none; }
    #sound-icon-off { display: none; }
    #wave-sound-icon-off { display: none; }

    .led {
        width: 10px;
        height: 10px;
        background: #333;
        border-radius: 50%;

        &.optimal {
            background: #0f0;
            box-shadow: 0 0 20px 5px #0f0;
        }

        &.alert {
            background: #f00;
            box-shadow: 0 0 20px 5px #f00;
        }
    }
}

@keyframes eliminated {
    0% { background: $inner-color; }
    100% { background: rgba(255, 0, 0, 0.233); }
}

.ships-container {
    width: fit-content;
    justify-self: flex-end;

    &::before {
        content: 'ENEMY SHIPS';
        letter-spacing: 2px;
    }

    & > div {
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
    }

    .ship-container {
        @extend %container;
        width: fit-content;
        padding: 0.5rem 1.2rem;
        display: flex;
        align-items: center;
        position: relative;

        &.sunk {
            filter: brightness(0.5);

            & > img {
                animation: none;
            }
        }

        &.animate-eliminated {
            animation: eliminated 0.3s 2;
        }

        &::before {
            position: absolute;
            left: -1.5rem;
        }

        &:nth-of-type(1)::before { content: '5'; }
        &:nth-of-type(2)::before { content: '4'; }
        &:nth-of-type(3)::before { content: '3'; }
        &:nth-of-type(4)::before { content: '3'; }
        &:nth-of-type(5)::before { content: '2'; }

        img {
            animation: bob 2s infinite;
        }

        &:nth-of-type(2) img { animation-delay: 0.3s; }
        &:nth-of-type(3) img { animation-delay: 0.8s; }
        &:nth-of-type(4) img { animation-delay: 1.2s; }
    }
}

@keyframes bob {
    0% { transform: translateY(0); }
    50% { transform: translateY(2px); }
    100% { transform: translateY(-1px); }
}

.nav-container {
    padding: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @extend %container;

    video,
    img {
        height: 10rem;
        border-radius: 10px;
    }
} 

section.gameboard-ships {
    max-width: 0px;
    max-height: 0px;
    position: absolute;
}

@keyframes ship-reveal {
    0% { transform: scale(1); }
    50% { transform: scale(0.9); }
    100% { transform: scale(1); }
}

.p1-deployed-ship,
.p2-deployed-ship {
    width: 34px;
    height: 34px;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: none;

    &.show {
        display: flex;
        animation: ship-reveal 1.2s ease;
    }

    &.sunk {
        filter: brightness(0.6);
    }

    //  horizontal ships
    &[data-ship-key="c"][data-vertical="false"] {
        width: 170px
    }

    &[data-ship-key="b"][data-vertical="false"] {
        width: 136px
    }

    &[data-ship-key="r"][data-vertical="false"],
    &[data-ship-key="s"][data-vertical="false"] {
        width: 102px
    }

    &[data-ship-key="d"][data-vertical="false"] {
        width: 68px
    }

    //  vertical ships
    &[data-ship-key="c"][data-vertical="true"] {
        height: 170px
    }

    &[data-ship-key="b"][data-vertical="true"] {
        height: 136px
    }

    &[data-ship-key="r"][data-vertical="true"],
    &[data-ship-key="s"][data-vertical="true"] {
        height: 102px
    }

    &[data-ship-key="d"][data-vertical="true"] {
        height: 68px
    }
}

@keyframes fade-out {
    from { opacity: 1 }
    to { opacity: 0.5 }
}

div.miss-icon {
    width: 30px;
    height: 30px;
    display: none;

    &.show {
        display: block;
        animation: fade-out 2s ease forwards;
    }
}

div.fire-gif {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 1;

    &.show {
        display: flex;
    }
     
    img {
        object-fit: cover;
        transform: translateY(-5px);
    }
}
