/* black-ops-one-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Black Ops One';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/black-ops-one-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* oswald-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/oswald-v53-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

$inner-color: #001833;
$outer-color: #222d38;

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: $outer-color;
    color: #dfdddd;
    font-family: 'Oswald', sans-serif;
    display: flex;
    align-items: center;
    gap: 2rem;
    min-height: 100vh;
    padding: 0 2rem;
}

%container {
    border-radius: 10px;
    box-shadow: 0 2px 0 hsla(0, 0%, 100%, .15), inset 0 2px 2px hsla(0, 0%, 0%, 0.2);
    background: $inner-color;
}

aside, main {
    @extend %container;
    font-weight: 300;
    height: 90vh;
    max-height: 800px;
}

aside {
    flex: 3;
    padding: 2rem;
    overflow-y: scroll;

    h2 {
        
    }

    img {
        max-width: 100%;
    }

    p {
        margin-top: 1rem;
        font-size: 14px;
        line-height: 1.5rem;
        font-family: sans-serif;
    }
}

@keyframes bob {
    0% { transform: translateY(0); }
    50% { transform: translateY(5px); }
    100% { transform: translateY(-1px); }
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

main {
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    h1 {
        font-size: 6rem;
        font-family: 'Black Ops one', serif;
        font-weight: lighter;
        animation: bob 2s infinite linear;
        position: relative;
    }

    .ships-container {
        display: flex;
        gap: 10rem;
        align-items: center;

        img {
            height: fit-content;
            width: fit-content;

            &:first-of-type { animation: rotate 1s infinite ease-out alternate; }
            &:nth-of-type(2) { animation: rotate 1.2s linear infinite; }
            &:nth-of-type(3) { animation: rotate 0.4s linear infinite reverse; }
        }
    }

    .button-container {
        display: flex;
        gap: 2rem;
        margin-top: 2rem;

        button {
            background: #222d38;
            color: #dfdddd;
            width: 9rem;
            height: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Oswald', sans-serif;
            font-size: 1rem;
            cursor: pointer;

            &:hover {
                filter: brightness(1.1);
            }
        }
    }

    a {
        display: flex;
        align-items: center;
        gap: 0.2rem;
        text-decoration: none;
        color: #dfdddd;
        position: absolute;
        bottom: 4rem;

        & * {
            pointer-events: none;
        }

        svg {
            width: 25px;
            height: 25px;
        }
    }

}