$inner-color: #001833;
$outer-color: #222d38;

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: $outer-color;
    color: #dfdddd;
}

main {
    // border: 1px solid #fff;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    column-gap: 3.5rem;
    row-gap: 3rem;
    margin: 0 auto;
    width: fit-content;
    position: relative;
}

%container {
    border-radius: 10px;
    box-shadow: 0 2px 0 hsla(0, 0%, 100%, .15), inset 0 2px 2px hsla(0, 0%, 0%, 0.2);
    background: $inner-color;
}

#player-name {
    position: absolute;
    top: 3rem;
    left: 48%;
}

.guide-container {
    padding: 2rem;
    @extend %container;
    height: 5rem;
    text-align: center;
    align-self: end;
}

.gameboard-container {
    max-width: 475px;
    overflow: hidden;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    align-self: end;
    @extend %container;

    .boards-panel {
        display: flex;
        position: relative;
        left: 0;
        transition: left 0.5s ease;
        margin: 45px;
    }

    .toggle-panel {
        left: -430px;
    }
}

.board {
    display: grid;
    grid-template-columns: repeat(11, 1fr);

    .square {
        width: 35px;
        height: 35px;
        border: 1px solid #ffffff49;
        display: flex;
        justify-content: center;
        align-items: center;

        &:first-of-type {
            border-top: none;
            background: #001833;
        }

        &:hover {
            background: rgba(255, 255, 255, 0.178);
        }

        &[data-placement="valid"] {
            background: rgba(120, 244, 120, 0.3);
            transition: background 0.2s ease;
        }

        &[data-placement="invalid"] {
            background: rgba(244, 120, 120, 0.3);
            transition: background 0.2s ease;
        }
    }

    .square-axis {
        pointer-events: none;
        background: #082547;
    }

    &:first-of-type {
        margin-right: 45px;
    }
}

.modify-placement-container {
    width: 15rem;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transform: translateY(8rem);
    @extend %container;

    button {
        background: #222d38;
        color: #dfdddd;
        width: 9rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            filter: brightness(1.1);
        }

        &:nth-of-type(1) svg {
            width: 1.7rem;
            margin-right: 0.7rem;
        }

        &:nth-of-type(2) svg {
            width: 2.1rem;
            margin-right: 0.5rem;
        }

    }
}

.ships-container {
    // border: 1px solid lightgreen;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    gap: 3.5rem 1.8rem;
    max-width: 25rem;

    .ship-container {
        @extend %container;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &:nth-of-type(1) { width: 11rem; height: 11rem; }
        &:nth-of-type(2) { width: 10rem; height: 10rem; }
        &:nth-of-type(3), &:nth-of-type(4) { width: 8rem; height: 8rem; }
        &:nth-of-type(5) { width: 5rem; height: 5rem; }

        &::before {
            position: absolute;
            bottom: -1.5rem;
        }

        &:nth-of-type(1)::before { content: 'Carrier'; }
        &:nth-of-type(2)::before { content: 'Battleship'; }
        &:nth-of-type(3)::before { content: 'Cruiser'; }
        &:nth-of-type(4)::before { content: 'Submarine'; }
        &:nth-of-type(5)::before { content: 'Destroyer'; }
    }
}

.ship {
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    cursor: grab;

    & * {
        pointer-events: none;
    }

    // ------------------ horizontal ships ------------------------

    &[data-ship="carrier"][data-vertical="false"] { 
        width: 170px 
    }

    &[data-ship="battleship"][data-vertical="false"] { 
        width: 136px
    }

    &[data-ship="cruiser"][data-vertical="false"], 
    &[data-ship="submarine"][data-vertical="false"] {
        width: 102px 
    }

    &[data-ship="destroyer"][data-vertical="false"] { 
        width: 68px 
    }

    // ------------------ vertical ships ------------------------

    &[data-ship="carrier"][data-vertical="true"] { 
        height: 170px; 
    }

    &[data-ship="battleship"][data-vertical="true"] { 
        height: 136px;
        img { transform: translateX(-3px) }; 
    }

    &[data-ship="cruiser"][data-vertical="true"], 
    &[data-ship="submarine"][data-vertical="true"] {
        height: 102px 
    }
    
    &[data-ship="destroyer"][data-vertical="true"] { 
        height: 68px 
    }
}

.ship[data-vertical="false"] {
    img:nth-of-type(1) { display: inline; }
    img:nth-of-type(2) { display: none; }
    height: 34px;
}

.ship[data-vertical="true"] {
    img:nth-of-type(1) { display: none; }
    img:nth-of-type(2) { display: inline; }
    width: 34px;
}

.ship.dragging {
    opacity: 0.7;
}

.ship.dragend {
    opacity: 1;
}

.start-game-container {
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %container;

    button {
        background: #222d38;
        color: #dfdddd;
        clip-path: polygon(72% 1%, 100% 50%, 72% 100%, 0 99%, 0 0);
        width: 8.5rem;
        height: 3.5rem;
        position: relative;
        text-align: left;
        padding-left: 1.5rem;
        filter: brightness(0.7);
        pointer-events: none;
        cursor: pointer;

        &:hover {
            filter: brightness(1.1);
        }
    }
}
